﻿@model GeoQuizHD.Models.Usuario
@{
    ViewBag.Title = "Asia Go | Lobby ";
}


    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="~/Content/img/Asiago.png" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <i class="glyphicon glyphicon-user"></i>  @Html.DisplayFor(model => model.Nickname)
                    </div>
                    <div class="profile-usertitle-job">
                        @Html.DisplayFor(model => model.Puntaje) pts
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                
               
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index","Lobby")">
                                <i class="glyphicon glyphicon-home"></i>
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","TopJugadores")">
                                <i class="glyphicon glyphicon-star"></i>
                                Top 10 de Jugadores
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Historial")" target="_blank">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Historial de partidas
                            </a>
                        </li>
                     
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content" style="background:url('../Content/img/Asiago.PNG') no-repeat center;">
                <center>
                    <button class="btn-danger btn-lg" style="width:300px; height:100px;" value="JUGAR"><a style="color:black" href="@Url.Action("Index","Juego")">JUGAR</a></button>
                    <br />
                    <br />
                    <br />
                    <div class="row">
                        <div class="alert alert-info" style="width:700px;" id="txtTip" role="alert">Sabias que: El 60% de la población mundial vive en Asia. </div>
                    </div>
                </center>
            </div>
        </div>
    </div>

<script>
    var datos = new Array();
    var posicion = 0;
    datos.push('Sabias que: Asia alberga 9 de los 10 edificios más altos del mundo, como el Burj Khalifa de Dubái (828 metros).');
    datos.push('Sabias que: Siete de las 10 ciudades más populosas del mundo son asiáticas.');
    datos.push('Sabias que: En Asia se encuentra el punto más alto y el más bajo de la Tierra: el Everest y el mar Muerto.');
    datos.push('Sabias que: El 60% de la población mundial vive en Asia.');

    var timer = setInterval(function () { cambiarTip() }, 6000);

    function cambiarTip() {
        if (posicion > 3)
        {
            posicion = 0;
        }
        $('#txtTip').html(datos[posicion]);
        posicion++;
    }
    
</script>




