﻿
@{
    ViewBag.Title = "Asia Go | Juego";
}



      <style>
          body {
          
              background-color: mediumturquoise;

          }
      </style>    


        <center>
            <input type="button" id="btnComenzar" class="btn btn-success" value="¡COMENZAR!" onclick="comenzarPartida();" />
            <br />
            <div class="row">
                <label id="vidas">Vidas: 3</label>
                <label id="puntaje">Puntaje: 0</label>
                <label id="turno">Turno: 0</label>
            </div>
        </center>
        <!--<div class="col-xs-12 col-md-8">-->
<center>
    <img src="~/Content/img/MapaAsia.jpg" alt="" id="Mapa" usemap="#Map" />
    <map name="Map" id="Map">
        <area alt="" onclick="seleccionPais('rusia')" title="Rusia" href="#" shape="poly" coords="1,2,3,24,17,26,33,50,44,64,65,73,74,79,75,107,79,127,99,144,127,145,150,147,144,114,115,73,135,60,171,61,187,58,181,38,224,20,265,28,298,53,320,55,347,60,373,50,393,50,395,32,440,44,466,53,486,41,516,38,511,12,632,3,518,6,524,4,528,3,533,3" />
        <area alt="" onclick="seleccionPais('india')" title="India" href="#" shape="poly" coords="302,205,291,223,274,249,277,269,264,278,280,287,287,288,296,321,303,340,315,366,326,373,332,356,335,331,352,317,375,292,379,284,378,266,377,255,333,247" />
        <area alt="" onclick="seleccionPais('china')" title="China" href="#" shape="poly" coords="340,71,335,91,320,107,316,127,265,142,266,161,255,170,284,169,309,186,330,207,327,221,348,232,372,236,394,245,415,235,430,237,447,262,445,273,456,284,476,279,490,276,508,287,529,288,532,275,553,275,568,240,570,220,564,196,546,173,559,160,557,127,580,117,597,98,598,84,607,50,518,43,519,73,494,95,479,119,449,127,419,125,378,112" />
        <area alt="" onclick="seleccionPais('israel')" title="Israel" href="#" shape="rect" coords="51,213,72,240" />
        <area alt="" onclick="seleccionPais('coreasur')" title="Coreasur" href="#" shape="poly" coords="586,149,599,147,607,159,609,173,600,180,597,183" />
        <area alt="" onclick="seleccionPais('singapur')" title="Singapur" href="#" shape="poly" coords="462,393,474,394,483,415,489,435,469,419,460,413" />
        <area alt="" onclick="seleccionPais('arabia')" title="ArabiaSaudita" href="#" shape="poly" coords="61,239,65,247,74,265,86,274,87,293,103,305,117,325,131,320,144,311,180,301,180,286,158,272,139,247,121,239,87,221,88,218" />
    </map>
</center>
        <!--</div>-->
    




<!--Modal Preguntas-->
<div class="modal" id="modalPregunta" data-backdrop="static">
    <div class="modal-dialog" style="width:900px;">
        <div class="modal-content">
            <div class="modal-header">
                Responde correctamente
            </div>
            <div class="modal-body" id="mensajeM">
                <div class="form-group">
                    <center>
                        <img id="imgPregunta" class="img-responsive" style="width:300px" src="" />
                    </center>
                    <div class="row">
                        <div class="col-lg-8">
                        <label id="lblPregunta"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="control-label">A)</label>
                                <input type="button" id="Respuesta1" onclick="verificaRespuestaPregunta('1')" class="k-button"/>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="control-label">B)</label>
                                <input type="button" id="Respuesta2" onclick="verificaRespuestaPregunta('2')" class="k-button" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="control-label">C)</label>
                                <input type="button" id="Respuesta3" onclick="verificaRespuestaPregunta('3')" class="k-button" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group">
                                <label class="control-label">D)</label>
                                <input type="button" id="Respuesta4" onclick="verificaRespuestaPregunta('4')" class="k-button" />
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<!--FIN Modals Preguntas-->



<audio controls hidden="hidden" id="aseleccion">
    <source src="http://www.sonidosmp3gratis.com/sounds/SD_MENU_SELECT_3.mp3" type="audio/ogg">
    <source src="http://www.sonidosmp3gratis.com/sounds/SD_MENU_SELECT_3.mp3" type="audio/mpeg">
   Tu navegador no soporta HTML5
</audio>
<audio controls hidden="hidden" id="aerror">
    <source src="http://www.sonidosmp3gratis.com/sounds/SD_MENU_WRONG_6.mp3" type="audio/ogg">
    <source src="http://www.sonidosmp3gratis.com/sounds/SD_MENU_WRONG_6.mp3" type="audio/mpeg">
    Tu navegador no soporta HTML5
</audio>

    <div id="MuestraPregunta" data-url="@Url.Action("MuestraPregunta","Juego")"></div>
    <div id="GuardarPartida" data-url="@Url.Action("GuardarPartida","Juego")"></div>


<script>
    
    var respuestas = new Array(); //Arreglo de respuestas del usuario
    var secuencia = new Array(); //Arreglo de secuencia a enumerar
    var vidas = 3; //Numero de oportunidades del usuario
    var turno = 0; //Turno actual del usuario
    var velocidad = 1000; //Velocidad de muestra de la secuencia
    var timer; //Timer para ejecutar la secuencia
    var posicion = 0; //Posicion actual de la secuencia
    var puntaje = 0; //Puntaje del jugador
    var auxPais = 0; //Auxiliar para posicion del pais 
    var juegoComenzado = false; //Indica si el juego ya comenzo 
    var pregunta; //Pregunta y sus posibles respuestas
    var tuTurno = false;

    //Se dispara cuando el usuario da click en un area y selecciona un pais.
    function seleccionPais(pais) {
        if (juegoComenzado && tuTurno) {
            respuestas.push(pais);
            if (verificaRespuesta() === true) {
                $('#aseleccion').trigger('play');
                puntaje += 100;
                if (velocidad > 700) {
                    velocidad -= 50;
                }
                if (respuestas.length === secuencia.length) {
                    respuestas = new Array();
                    muestraSecuencia();
                }
            }
            else {
                if (vidas != 0) {
                    $('#aerror').trigger('play');
                    arrojaPregunta(pais);
                    respuestas = new Array();                    
                }
                else {
                    bootbox.alert('GAME OVER!');
                    clearInterval(timer);                
                    juegoComenzado = false;                    
                    guardarPartida();
                    reiniciarValores();
                    $("#btnComenzar").prop('disabled', false);
                }

            }
            $('#puntaje').text('Puntaje: ' + puntaje);
            $('#vidas').text('Vidas: ' + vidas);
            $('#turno').text('Turno: ' + turno);
        }
        else {
            if (!tuTurno) {
                bootbox.alert('Espera a que sea tu turno');
            }
            else {
                bootbox.alert('Comienza la partida antes de seleccionar una opcion');
            }
        }
    }

    //Verifica las secuencias actualmente seleccionadas con la secuencia esperada
    function verificaRespuesta() {
        var valido = false;
        for (var i = 0; i < respuestas.length; i++) {
            if (respuestas[i] === secuencia[i])
            {
                valido = true;
            }
            else {
                return false;
            }
        }
        return valido;
    }

    //Agrega un elemento mas a la secuencia del juego
    function agregaSecuencia() {
        
        var x = Math.floor((Math.random() * 7));
        var nombrePais;
        switch (x) {
            case 0:
                nombrePais = "china"
                break;
            case 1:
                nombrePais = "india"
                break;
            case 2:
                nombrePais = "rusia"
                break;
            case 3:
                nombrePais = "coreasur"
                break;
            case 4:
                nombrePais = "israel"
                break;
            case 5:
                nombrePais = "singapur"
                break;
            case 6:
                nombrePais = "arabia"
                break;
        }
        debugger;
        var indice = secuencia.length;
        if (secuencia[indice - 1] != nombrePais) {
            secuencia.push(nombrePais);
            turno++;
        }
        else {
            agregaSecuencia();
        }      
    }

    //Muestra la secuencia al usuario y las imagenes
    function muestraSecuencia() {
        agregaSecuencia();
        tuTurno = false;
        posicion = 0;
        p = secuencia[0];
        timer = setInterval(function () { cargaImagen(p) },velocidad);
    }

    //Carga Imagen del pais correspondiente
    function cargaImagen(pais) {
        debugger;
        $('#Mapa').attr('src','/Content/img/' + pais + '.jpg');
        posicion++;
        if (posicion == secuencia.length)
        {
            tuTurno = true;
            clearInterval(timer);
            limpiarMapa();

        }
        p = secuencia[posicion];
    }

    function arrojaPregunta(pais) {
        var url = $('#MuestraPregunta').attr('data-url');
        $.ajax({
            url: url,
            type: 'GET',
            data: { pais : pais },
            success: function (data) {
                debugger;
                if (data !== null) {
                    document.getElementById('lblPregunta').innerHTML = data.Descripcion;
                    $('#Respuesta1').val(data.Respuesta1);
                    $('#Respuesta2').val(data.Respuesta2);
                    $('#Respuesta3').val(data.Respuesta3);
                    $('#Respuesta4').val(data.Respuesta4);
                    if (data.Imagen !== null) {
                        $('#imgPregunta').show();
                        $('#imgPregunta').attr('src', '/Content/img/imgPreguntas/' + data.Imagen + '.png');
                    }
                    else {
                        $('#imgPregunta').hide();
                        
                    }
                    pregunta = data;
                    $('#modalPregunta').modal('show');
                }
                else {
                    bootbox.alert('Ha ocurrido un error');
                }
            },
            error: function (data) {
                bootbox.alert("Ha ocurrido un error.");
            }
        });
    
      
    }

    function comenzarPartida() {
        juegoComenzado = true;
        $("#btnComenzar").prop('disabled', true);
        reiniciarValores();
        muestraSecuencia();
    }

    function limpiarMapa() {
        setTimeout(function () { $('#Mapa').attr('src', '/Content/img/MapaAsia.jpg'); }, 800);
    }

    function guardarPartida()
    {
        var url = $('#GuardarPartida').attr('data-url');
        $.ajax({
            url: url,
            type: 'POST',
            data: { 'turno' : turno , 'puntaje' : puntaje},
            success: function (data) {
                debugger;
                if (data.result === true) {
                    bootbox.alert('Tu partida se ha registrado');
                }
                else {
                    bootbox.alert('Ha ocurrido un error');
                }
            },
            error: function (data) {
                bootbox.alert("Ha ocurrido un error.");
            }
        });
    }

    function reiniciarValores()
    {
        respuestas = new Array();
        secuencia = new Array();
        posicion = 0;
        puntaje = 0;
        auxPais = 0;
        turno = 0;
        $('#Mapa').attr('src', '/Content/img/MapaAsia.jpg');
        velocidad = 1000;
        vidas = 3;
    }

    function verificaRespuestaPregunta(respuesta) {
        debugger;
        var correcta = pregunta.Correcta
        if (correcta == respuesta) {
            $('#aseleccion').trigger('play');
            //bootbox.alert('¡Correcto!');
            //$('#alerta').show();
            $('#modalPregunta').modal('hide');
            muestraSecuencia();
        }
        else {
            $('#aerror').trigger('play');
            $('#modalPregunta').modal('hide');
            //bootbox.alert('¡Incorrecto!');
            vidas--;
            $('#puntaje').text('Puntaje: ' + puntaje);
            $('#vidas').text('Vidas: ' + vidas);
            $('#turno').text('Turno: ' + turno);
            muestraSecuencia();
        }
    }
</script>
