﻿@model GeoQuizHD.Models.Usuario
@{
    ViewBag.Title = "Index";
}

<div class="row profile">
    <div class="col-md-3">
        <div class="profile-sidebar">
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="~/Content/img/Asiago.png" class="img-responsive" alt="">
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    <i class="glyphicon glyphicon-user"></i>  @Html.DisplayFor(model => model.Nickname)
                </div>
                <div class="profile-usertitle-job">
                    @Html.DisplayFor(model => model.Puntaje) pts
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
                <ul class="nav">
                    <li class="active">
                        <a href="@Url.Action("Index","Lobby")">
                            <i class="glyphicon glyphicon-home"></i>
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","TopJugadores")">
                            <i class="glyphicon glyphicon-star"></i>
                            Top 10 de Jugadores
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Historial")" target="_blank">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            Historial de partidas
                        </a>
                    </li>

                </ul>
            </div>
            <!-- END MENU -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="profile-content">
            <center>
                <h2>Historial de Partidas</h2>
            </center>
            @(Html.Kendo().Grid<GeoQuizHD.Models.Partida>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Fecha).Title("Fecha");
        columns.Bound(p => p.Turnos).Title("Turnos");
        columns.Bound(p => p.Puntaje).Title("Puntaje");
    })
        .DataSource(dataSource =>
            {
                dataSource
        .Ajax()
        .Model(model => model.Id(c => c.IdPartida))
        .Read(read => read.Action("ObtenerHistorial", "Historial"));
            })
      .Filterable(filterable =>
      {
          filterable.Extra(false);
          filterable.Messages(messages =>
          {
              messages.Info("");
          });
          filterable.Operators(operators =>
          {
              operators.ForString(forString =>
              {
                  forString.Clear();
                  forString.Contains("Contiene");
              });
              operators.ForNumber(forNumber =>
              {
                  forNumber.Clear();
                  forNumber.IsEqualTo("Es igual a");
                  forNumber.IsGreaterThan("Es mayor a");
                  forNumber.IsLessThan("Es menor a");
              });
              operators.ForDate(forDate =>
              {
                  forDate.Clear();
                  forDate.IsEqualTo("Es igual a");
                  forDate.IsGreaterThan("Es mayor a");
                  forDate.IsLessThan("Es menor a");
              });
          });
      })
      .Filterable()
      .Sortable()
            )

        </div>
    </div>
</div>

