﻿
@{
    ViewBag.Title = "Asia Go | Configuración";
}

<div id="tshirt-view" class="k-header">
    <h2>Customize your Kendo T-shirt</h2>
    <img id="tshirt" src="@Url.Content("~/Content/img/Boo.png")" />
    <div id="options">
        <h3>T-shirt Fabric</h3>
        @(Html.Kendo().ComboBox()
          .Name("fabric")
          .Filter("contains")
          .Placeholder("Select fabric...")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Cotton", Value = "1"
              },
              new SelectListItem() {
                Text = "Polyester", Value = "2"
              },
              new SelectListItem() {
                Text = "Cotton/Polyester", Value = "3"
              },
              new SelectListItem() {
                Text = "Rib Knit", Value = "4"
              }
          })
          .SelectedIndex(3)
          .Suggest(true)
        )

        <h3>T-shirt Size</h3>
        @(Html.Kendo().ComboBox()
          .Name("size")
          .Placeholder("Select size...")
          .BindTo(new List<string>() {
              "X-Small",
              "Small",
              "Medium",
              "Large",
              "X-Large",
              "2X-Large"
          })
          .SelectedIndex(3)
          .Suggest(true)
        )

        <button class="k-button" id="get">Customize</button>
    </div>
</div>

<div id="Imagen" data-url="@Url.Action("CambiarImagen","Personalizar")"></div>
<div id="Nickname" data-url="@Url.Action("CambiarNickname","Personalizar")"></div>

<script>
    function cambiarImagen() {
        debugger;
        var imagen = $("#combo").val();
        $("#ejemplo").attr("src","/Content/imagenes/" + imagen + ".png");
        $.ajax({
            url: $('#Imagen').attr('data-url'),
            type: 'POST',
            data: {imagen : imagen},
            success: function (resultado) {
                debugger;
                if (resultado === true) {
                    alert("Actualizado correctamente");
                }
                else {
                    alert('Error al actualizar');
                }
            },
            error: function () {
            }
        });
    }

    function cambiarNickname() {
        var nickname = $("#nickname").val();
        debugger;
        $.ajax({
            url: $('#Nickname').attr('data-url'),
            type: 'POST',
            data: {nickname: nickname},
            success: function (resultado) {
                debugger;
                if (resultado === true) {
                    alert("Nickname actualizado correctamente");
                }
                else {
                    alert('Error al actualizar');
                }
            },
            error: function () {
            }
        });
    }
</script>

